.hero-section {
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0px;

  max-width: 1600px;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @media screen and (max-width: 767px) {
      background-image: url(../images/mobile/bgimg@2x_mobile.jpg);
      background-image: linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      );
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      background-image: url(../images/tablet/bgimg@2x_tablet.jpg);
      background-image: linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      );
    }
    @media screen and (min-width: 1200px) {
      background-image: url(../images/desktop/bgimg@2x_desktop);
      background-image: linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      );
      padding: 200px 0px;
    }
  }
}

.hero-container {
  max-width: 696px;
}

.hero__title {
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  color: #ffffff;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
  }
}
