.checkbox {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;
  @media screen and (max-width: 1199px) {
    font-size: 12px;
  }
  // @media screen and (max-width: 479px) {
  //   font-size: 10px;
  // }
}
.checkbox__link {
  text-decoration-line: underline;
  color: #2196f3;
}
.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

  &:checked + .checkbox__icon {
    background-color: var(--accent-color);
    background-origin: border-box;
    background-image: url(../images/svg/checkbox.svg);
    background-size: contain;
    border-color: var(--accent-color);
  }
}
.checkbox__icon {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 3px;
  margin-right: 7px;
  justify-content: center;
}

.checkbox__input:focus + .checkbox__icon {
  border-color: var(--accent-color);
}
