.contacts {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline;
  }
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}
.contacts__link {
  display: flex;
  align-items: center;

  line-height: 1.43;
  font-weight: 500;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.contacts__icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--primary-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &-phone {
    width: 10px;
    height: 16px;
  }

  .contacts__link:hover &,
  .contacts__link:focus & {
    fill: currentColor;
  }
}
