.form {
  display: flex;
  flex-direction: column;
}
.form__field {
  position: relative;
  margin-bottom: 10px;
  display: block;
}
.label {
  font-size: 12px;
  line-height: 1.16em;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}
.form__input {
  width: 100%;
  margin: 0;
  padding: 10px 42px;
  height: 40px;
  border-radius: 4px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
  &:focus + .user {
    fill: var(--accent-color);
  }
}

.form__input.comments {
  width: 448px;
  height: 120px;
  resize: none;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #000000;
  padding: 12px 16px;

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  @media screen and (max-width: 1199px) {
    width: 100%;
    max-width: 370px;
  }
}

.user {
  position: absolute;
  bottom: 50%;
  left: 15px;
  transform: translateY(50%);
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.form__name-svg {
    width: 12px;
    height: 12px;
  }
  &.form__phone-svg {
    width: 13px;
    height: 13px;
  }
  &.form__email-svg {
    width: 15px;
    height: 12px;
  }
}
