.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}
.modal {
  width: 528px;
  height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (max-width: 1199px) {
    max-width: 450px;
    width: 100%;
    height: 609px;
    overflow: scroll;
  }
}
.modal__close-btn {
  width: 11px;
  height: 11px;
  fill: var(--social-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal__btn:hover &,
  .modal__btn:focus & {
    fill: #2196f3;
  }
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;
}

.modal__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  margin-bottom: 12px;
}
.modal__container {
  padding: 40px;
}
