.nav {
  margin-right: auto;
  align-items: center;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: inline-flex;
  }
}
.nav__list {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline-flex;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__link {
  color: var(--secondary-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  line-height: 1.43;
  font-weight: 500;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.nav__link--current {
  color: var(--accent-color);
  position: relative;
}
.nav__link--current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  background-color: var(--accent-color);
  width: 100%;
  height: 4px;
  border-radius: 2px;
}
