:root {
  --primary-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --main-font: "Roboto";
  --accent-font: "Raleway";
  --prime-bg: #e5e5e5;
  --secondary-bg: #f5f4fa;
  --dark-bg: #2f303a;
  --social-icon-color: #afb1b8;
}
